<%- include ("../partials/header") %>

    <div class="container">
        <div class="row">
            <div class="offset-md-3 col-md-3">
                <% for(var i in messages){%>
                    <div class="flash">
                        <%= messages[i] %>
                    </div>
                    <%} %>
                        <br>
                        <p>&nbsp;</p>

                        <form action="users/signin" method="post">

                            <!-- Username input -->
                            <div class="form-group">
                                <input type="text" name="username" class="form-control" placeholder="Enter Username" />
                                <label>Username</label>
                            </div>
                            <br>
                            <!-- Password input -->
                            <div class="form-group">
                                <input type="password" name="password" class="form-control" placeholder="Enter your password" />
                                <label>Password</label>
                            </div>
                            <!-- Submit button -->
                            <div class="form-group">
                                <input class="btn btn-primary" type="submit" value="Sign In" />
                            </div>
                            <br>
                            <div class="form-group">
                                <a href="users/signup" style="text-decoration: none">Sign Up</a>
                            </div>
                        </form>
            </div>
        </div>
    </div>

    <%- include ("../partials/footer") %>