<!-- <% include partials/header.ejs %> -->
    <br>
    <h1><%= title %></h1>
    <br>
    <!-- Implementation for Home Page -->
    <p>Welcome to <%= name %> Project</p>
    <p>This application benefits from:</p>
    <ul>
        <li>MEAN</li>
        <li>Express</li>
        <li>EJS</li>
        <li>NodeJS</li>
    </ul>
<!-- <% include partials/footer.ejs %> -->